@media(max-width: 991px) {
    /*Regras */
    .regras {
        flex-direction: column;

    }

    .regras .contentBox {
        width: unset;
    }

    .regras .imgBox {
        height: 100%;
    }

    .tabuleiro {	
        flex-direction: column-reverse;
        height: 100%;
    }

    .pontos th {
        font-size: 30px;
    }

    .pontos td:first-child {
        font-size: 20px;
    }

    .gramado {
        width: 400px;
        height: 400px;
    }

    .pontos {
        width: 400px;
        height: 400px;
    }

    .gramado img {
        padding: 10px 30px 10px 30px;
    }

    .records tr th {
        padding-left: 10px;
        padding-right: 10px;
    }

    .records th {
        font-size: 18px;
    }

    .records td {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 15px;
    }

}